@media (min-width: 1000px){
    .Root-outlet{
        display: flex;
    }
    .Root-outlet>*{
        
    }
    .Root-outlet>.Sidebar{
        position: relative;
        width: 10%;
        flex-grow: 0.1;
    }
    .Root-outlet>div:nth-child(2){
        width:10%;
        margin: 0;
        flex:2;
    }
}

